.hide {
	display:none;
}
li {
	margin-top: 5px;
}
form {
    border: 1px solid grey;
    border-radius: 20px;
    /*background-color: grey;*/
}
ol {
    border: 1px solid grey;
    border-radius: 5px;
    /*background-color: grey;*/
}